https://github.com/tawasta/social/archive/refs/heads/19.0.zip#subdirectory=mail_template_name_translatable
https://github.com/tawasta/social/archive/refs/heads/19.0-mig-email_template_qweb.zip#subdirectory=email_template_qweb
