#track-application-section .alert{
    margin-bottom: 8px;
}

#track-application-speakers-header-div{
    font-size: 1.0em;
}

#track-application-speakers-input-div div{
    padding: 0;
}

.required-label:after {
  content: " *";
}

.track-application-contact-input-row input, #track-application-contact-header-div label{
    width: 11.65%;
    display: inline-block;
}