/* Proposal */
#track-application-section .alert{
    margin-bottom: 8px;
}

#track-application-speakers-header-div{
    font-size: 1.0em;
}

#track-application-speakers-input-div div{
    padding: 0;
}

.required-label:after {
  content: " *";
}

.track-application-contact-input-row input, .track-application-contact-input-row label{
    width: 18.9%;
    display: inline-block;
}

.track-application-signee-input-row input, .track-application-signee-input-row label{
    width: 23.7%;
    display: inline-block;
}

.track-application-invoice-input-row input, .track-application-invoice-input-row label{
    width: 15.7%;
    display: inline-block;
}

/* Agenda */
.agenda-timeslot-time{
    font-weight: bold;
}

.agenda-timeslot-row .event_track{
    font-size: 0.9em;
}

.agenda-timeslot-row .event_track a{
    color: #000;
}

.agenda-timeslot-row .event_track a:hover, .agenda-timeslot-row .event_track a:active{
    text-decoration: none;
}

.track-td-name{
    font-weight: bold;
}

.track-td-speakers{
}

.track-td-tags{
}