.oe_event_image {
    float: right;
    margin-bottom: 10px;

    > img {
        max-width: 304px;
        max-height: 171px;
        vertical-align: top;
        border: 1px solid $o-main-color-muted;
    }
}
