/* Generic */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Proposal */

#call-for-papers-language .js_language_selector{
    text-align: center;
}

#track-application-section .alert{
    margin-bottom: 8px;
}

#track-application-speakers-header-div{
    font-size: 1.0em;
}

#track-application-speakers-input-div div{
    padding: 0;
}

.required-label:after {
  content: " *";
}

.track-application-contact-input-row input, .track-application-contact-input-row label{
    width: 18.1%;
    display: inline-block;
}

.track-application-speaker-input-row input, .track-application-speaker-input-row label{
    width: 17.8%;
    display: inline-block;
}

.track-application-organizer-input-row input, .track-application-organizer-input-row label{
    width: 18.9%;
    display: inline-block;
}

.track-application-speaker-input-row input.track-application-speaker-returning, .track-application-speaker-input-row label.track-application-speaker-returning{
    width: 15px;
    height: 15px;
}

.track-application-signee-input-row input, .track-application-signee-input-row label{
    width: 23.7%;
    display: inline-block;
}

.track-application-invoice-input-row input, .track-application-invoice-input-row label{
    width: 15.7%;
    display: inline-block;
}

/* For small screens */
@media only screen and (max-width: 800px){
    .track-application-contact-input-row label, .track-application-invoice-input-row label,
    .track-application-signee-input-row label, .track-application-speaker-input-row label,
    .track-application-organizer-input-row label{
        display: none;
    }

    .track-application-contact-input-row input, .track-application-signee-input-row input,
    .track-application-invoice-input-row input, .track-application-speaker-input-row input,
    .track-application-organizer-input-row input, .btn-remove-speaker
    {
        width: 100%;
    }
}

/* Agenda */
.container-wide{
    width: 100%;
    margin: 0;
}

.agenda-timeslot-time, .agenda-location-header{
    opacity: 0.8;
}

@media only screen and (max-width: 1200px){
    #agenda-table .agenda-timeslot-row .event_track {
        white-space: normal
    }
    .agenda-timeslot-row .event_track{
        font-size: 0.8em;
        max-width: 150px;
    }
    .agenda-timeslot-time{
        white-space: normal !important;
    }
}

@media only screen and (min-width: 1200px){
    .agenda-timeslot-row .event_track{
        font-size: 0.8em;
        max-width: 150px;
    }
}

@media only screen and (max-width: 1400px){
    .agenda-locations-row th:first-child {
        padding: 0;
    }

    .agenda-timeslot-time {
        position: absolute;
        padding: 0;
    }

    .track-td-name{
        padding-top: 5px;
    }
}

@media only screen and (min-width: 1400px){
    .agenda-timeslot-row .event_track{
        font-size: 0.8em;
        max-width: 150px;
    }
}

@media only screen and (min-width: 1600px){
    .agenda-timeslot-row .event_track{
        font-size: 0.8em;
        max-width: 180px;
    }
    .agenda-timeslot-time{
        white-space: nowrap;
    }
}

@media only screen and (min-width: 1800px){
    .agenda-timeslot-row .event_track{
        font-size: 0.9em;
        max-width: 200px;
    }
    .agenda-timeslot-time{
        white-space: nowrap;
    }
}

@media screen and (max-width: 767px){
    #agenda-table .agenda-timeslot-row .event_track {
        white-space: normal
    }
    .agenda-timeslot-row .event_track{
        font-size: 0.8em;
        max-width: 100px;
    }
}
web.assets_frontend.0.css:22


.page-header{
    border-bottom: none;
}

#agenda-table{
    table-layout: auto !important;
}

.agenda-timeslot-time{
    font-weight: bold;
}

.agenda-timeslot-row .event_track a{
    color: #000;
}

.agenda-timeslot-row .event_track a:hover, .agenda-timeslot-row .event_track a:active{
    text-decoration: none;
}

.track-th-name{
    white-space: nowrap;
}

.track-td-name, .track-th-name{
    font-weight: bold;
    overflow-wrap: normal;
    overflow: hidden;
}

.track-td-speakers{
}

.track-td-tags{
}

#filter-track-tags button{
    font-size: 0.9em;
    margin-bottom: 8px;
}

.track-program-move-icon:hover {
    cursor: move;
    color: @brand-primary;
}

/* Agenda pop-up */
.event_track_content .extra-info{
    display: none;
    position: absolute;
    width: 240px;
    padding: 10px;
    background: rgba(221, 221, 221, 0.7);
    color: @input-color;
    border: @input-group-addon-border-color;
    font-size: 90%;
}

/* Workshops */
.workshop-list-item, .poster-list-item{
    overflow: hidden;
}

/* Poster */
.track-poster-image {
    margin: 0 auto;
    max-width: 100%;
}

/* Carousel */
#poster-carousel {
    max-height: 400px;
}

.track-carousel-caption{
    color: @brand-primary;
}
.track-carousel-image{
    margin: 0 auto;
}